<div class="row">

  <div class="col-md-4">
    <h3>{{pacient.nom}} {{pacient.cognoms}}</h3>
    DNI
    <p>{{pacient.dni}}</p>
    Telefon
    <p>{{pacient.telefon}}</p>
    Correu electronic
    <p>{{pacient.ce}}</p>
    Pais
    <p>{{pacient.pais}}</p>
    Localitat
    <p>{{pacient.ciutat}}</p>
    Adreça
    <p>{{pacient.address}}</p>
  </div>

  <div class="col-md-8">
    <h3>MALALTIES DIAGNOSTICADES</h3>
    <app-diagnostic-pacient [pacient_id]="pacient.id"></app-diagnostic-pacient>
    <app-buscador-patologies (newItemEvent)="guardaDiagnostics($event)"></app-buscador-patologies>
  </div>
</div>
<br>
<br>
<br>
<app-sequenciacio [pacient_id]="pacient.id" [DNI]="pacient.dni"></app-sequenciacio>
<div class="row">
  <div class="col-md-12">
    <h3>ESCANEJOS</h3>
    <app-escaneig [pacient_id]="pacient.id"></app-escaneig>
  </div>
</div>

