<div class="row">
  <div class="col-md-4">
    Nom
    <p>{{pacient.nom}}</p>
    Cognoms
    <p>{{pacient.cognoms}}</p>
    DNI
    <p>{{pacient.dni}}</p>
    Telefon
    <p>{{pacient.telefon}}</p>
    Correu electronic
    <p>{{pacient.ce}}</p>
    Pais
    <p>{{pacient.pais}}</p>
    Localitat
    <p>{{pacient.ciutat}}</p>
    Adreça
    <p>{{pacient.address}}</p>
  </div>

  <div class="col-md-8">
    <p>MALALTIES DIAGNOSTICADES</p>

  </div>
</div>
<div class="row">
  <div class="col-md-4">
  SEQÜENCIACIONS
  </div>
</div>
<div class="row">
  <div class="col-md-4">
  ESCANEJOS REALITZATS
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-lg-6">
    DOS NIÑOS
  </div>
  <div class="col-md-4 offset-md-2">
    SE PELEANDFSGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGG  DFGSSSSSSSSSSSSSSSSSSSSSSSSSSSSS
    LAS MATEMATICAS
    LAS MATEMATICASLAS MATEMATICAS
    LAS MATEMATICAS
    LAS MATEMATIMATEMATICASCAS
    LAS MATEMATICAS
    LAS MATEMATICAS
    LAS MATEMATICAS
    V
    LAS MATEMATICAS
    VLAS MATEMATICASLAS MATEMATICASLAS MATEMATICASLAS MATEMATICASLAS MATEMATICASLAS MATEMATICASLAS MATEMATICASLAS MATEMATICASLAS MATEMATICASLAS








  </div>
</div>
