
div.container{
  margin: 10px 10px;
}

form.normal-form{
  margin: 1px;
}

.controles-container{
  width: 100%;
  padding: 9%;
}

.controles-container-comentari{
  flex: 1 1 auto;
}

.controles-container{
  padding: 1%;
}

.button-row button{
  margin: 5px;
}

.mat-form-field {
  width: 40%;
  margin: 8px;
}

.fitxerSeq {
  width: 250px;
}
