<div class="col-md-8" *ngFor="let pacient of pacients">
  <div class="card text-center">
    <div class="card-header bg-dark text-white d-flex justify-content-between align-items-lg-center">
      <p>{{pacient.nom}}</p>
      <button class="btn btn-danger" (click)="deletePacient(pacient.id)">
        borra
      </button>
    </div>
    <div class="card-body">
      <p>{{pacient.dni}}</p>
      <a [routerLink]="['/pacients/edit', pacient.id]" class="btn btn-info btn-block">
        EDIT PACIENT
      </a>
      <div class="card-body">
        <a [routerLink]="['/pacients/', pacient.id]" class="btn btn-info btn-block">
          DETALLS
        </a>
      </div>
    </div>
  </div>
</div>
