<h3>PATOLOGIA LIST</h3>
<br>
<br>
<div class="row">
  <div *ngIf="patologiesUsuari" class="col-md-8">
    <div *ngFor="let p of patologiesUsuari">
      <div class="card text-center">
        <div class="card-header bg-dark text-white d-flex justify-content-between align-items-lg-center">
          <p>{{p.nom}}</p>
          <p>{{p.nom}}</p>
          <p>{{p.ncbid}}</p>
          <p>{{p.descripcio}}</p>
          <p>{{p.usuari_id}}</p>
          <p>{{p.patologia_id}}</p>
        </div>
        <div>
          <p>{{p.comentaris}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <h3>SEARCH</h3>
    <!--<input id="disease" placeholder="Disease" autocomplete-lhc="https://clinicaltables.nlm.nih.gov/api/conditions/v3/search" ng-model="selectedVal">-->
    <input type="text" id="disease" placeholder="Disease">
    <p>
      ICD-9 Code:  <input type="text" id="code" placeholder="ICD-9 Code">
    <p>
    <ul id="lista">
    </ul>
    <!--<input type="text" id="disis" placeholder="Disease">-->
    <button id="reilord" (click)="guardaPatologies()" onclick="this.blur();"> Guarda </button>
  </div>
</div>
