<div class="row">
  <div class="col mt-4 text-center">
    <h2>LLISTA DE PATOLOGIES</h2>
  </div>
</div>
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-7">


    <div class="search-div">
      <mat-form-field>
        <mat-label class="mt-2">Filtre:</mat-label>
        <input class="mt-3" matInput (keyup)="applyFilter($event)" placeholder="Escriu aquí" #input>
      </mat-form-field>
    </div>
    <div class="mat-elevation-z8">
      <mat-table [dataSource]="patologiaService.patologiesUsuari"  matSort>
        <ng-container matColumnDef="nom">
          <mat-header-cell *matHeaderCellDef  mat-sort-header>Nom</mat-header-cell>
          <mat-cell *matCellDef="let element" [routerLink]="['/patologies/', element.pat_id]">{{element.nom}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="ncbid">
          <mat-header-cell *matHeaderCellDef  mat-sort-header>NCB ID</mat-header-cell>
          <mat-cell *matCellDef="let element" [routerLink]="['/patologies/', element.pat_id]">{{element.ncbid}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let row;">
            <button mat-icon-button (click)="openEditDialog(row)"><mat-icon>launch</mat-icon></button>
            <button mat-icon-button (click)="deletePatologia(row)" color="warn"><mat-icon>delete</mat-icon></button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

      </mat-table>
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="10" showFirstLastButtons></mat-paginator>
    </div>

  </div>
  <div class="col-md-4 mt-4">
    <h3>SEARCH</h3>
    <app-buscador-patologies (newItemEvent)="guardaPatologies($event)"></app-buscador-patologies>
  </div>
</div>
