<h3>PATOLOGIA LIST</h3>
<br>
<br>
<div class="row">
  <div *ngIf="patologiesUsuari" class="col-md-8">
    <div *ngFor="let p of patologiesUsuari">
      <div class="card text-center">
        <div class="card-header bg-dark text-white d-flex justify-content-between align-items-lg-center">
          <p>{{p.nom}}</p>
          <p>{{p.nom}}</p>
          <p>{{p.ncbid}}</p>
          <p>{{p.usuari_id}}</p>
          <p>{{p.patologia_id}}</p>
        </div>
        <div>
          <p>{{p.comentaris}}</p>
        </div>
        <a [routerLink]="['/patologies/', p.id]" class="btn btn-info btn-block">
          DETALLS
        </a>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <h3>SEARCH</h3>
    <app-buscador-patologies (newItemEvent)="guardaPatologies($event)"></app-buscador-patologies>
    <!--<button id="reilord" (click)="guardaPatologies()" onclick="this.blur();"> Guarda </button>-->
  </div>
</div>
