/* success */
snack-bar-container.success {
  background-color: #5cb85c;
  color : #fff;
}

/* error */
snack-bar-container.error {
  background-color: #b80000;
  color : #fff;
}

snack-bar-container.warn {
  background-color: #f99157;
  color : #fff;
}

snack-bar-container.notification simple-snack-bar{
  font-size: 18px !important;
  font-weight: bold;
}



/*molt extrany: aixo permet que en un monitor de 1920x1080 funcioni be el drag&drop. Altrament nomes funciona en monitors de 2k o mes resolucio*/
html.cdk-global-scrollblock {
  position: initial !important;
}

html.cdk-global-scrollblock body {
  position: fixed;
}
